@model BibliotecaVirtualdeDVDs.Models.User

@{
    ViewBag.Title = "Login";
}

<br />

@using (Html.BeginForm("Login",
                       "Login",
                       FormMethod.Post,
                       new { @id = "frmLogin" }
                       ))
    {    
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Login</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>
        <br />
        <p>
            <input type="submit" class="btn btn-primary" value="Login" />
        </p>
    </fieldset>
}

<script type="text/javascript">
    var notification =
        alertify.notify(
        'Login: ' + '@ViewBag.Email' + ' <br> Senha: ' + '@ViewBag.Senha', 'success', 15, function () {
            console.log('dismissed');
        });

    document.getElementById('menuhome').setAttribute('class', 'active');
    document.getElementById('menuConfiguracaoUsuario').removeAttribute('class', 'active');
    document.getElementById('menuAdicionarDvd').removeAttribute('class', 'active');
    document.getElementById('menuListarDvd').removeAttribute('class', 'active');

</script>